body {
  margin: 0;
}

#container {
  display: flex;
  height: 100vh;
  max-width: 800px;
}

#left-container {
  background-color: rgb(90, 211, 161);
  width: 30%;
}

#left-title {
  text-align: center;
}
#right-container {
  background-color: rgb(236, 114, 240);
  width: 80%;
  padding-left: 2%;
}

#header-container {
  display: flex;
  justify-content: space-between;
}

#test {
  text-align: left;
}

.title {
  margin: 25px 0;
}

#img-container img {
  width: 65%;
}

.yellow {
  color: yellow;
}
.font {
  font-weight: lighter;
  font-family: "Courier New", Courier, monospace;
}

.border {
  border-style: solid;
  border-color: coral;

  margin: 15px 30px 0 0;
}

table {
  width: 100%;
  border-style: ridge;
}

th {
  background-color: #0c0f0e;
  color: white;
}
tr:nth-child(even) {
  background-color: #dd2b2b;
}
